.grid-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;

  &.primary {
    @include ie() {
      min-height: 100vh;
    }
  }

  &.nested {
    .grid-col {
      margin-right: $standard-space;

      @include breakpoint(mobile) {
        margin: $standard-space 0 0 0;
        &:first-child {
          margin: 0;
        }
      }

      &:last-child {
        margin-right: 0;
      }
    }

    &.dashed {
      .grid-col {
        border-right: $primary-bg 2px dotted;

        &:last-child {
          border-right: none;
        }
      }
    }
  }
}

.grid-col {
  flex: 1;

  &.panel {
    min-width: 0;
    &.tertiary {
      background: $tertiary-card-bg;
    }

    margin: 0 $standard-space 0 0 !important;

    &:last-child {
      margin-right: 0 !important;
    }
  }

  &.primary-content {
    max-width: 1250px;
  }

  &.tertiary-content {
    max-width: 450px;
  }
}
