*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  background: $primary-bg;
}

body {
  margin: 0;
  padding: 0;
  font-family: $nta-light;
  background: $primary-bg;
  color: $primary-content;

  @include ie() {
    display: flex;
    flex-direction: column;
  }
}

main {
  padding: $header-space 15px 0 15px;
  height: 100%;
  @include ie() {
    display: block;
  }
}

hr {
  border: 1px solid rgba(0, 0, 0, 0.05);
}

#main-container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  flex-wrap: wrap;
}

#main-container-navigation {
}

#main-container-content {
  flex: 1;
}
