@import '../colours';

$nav-width: 250px;

.sub-nav {
  max-width: $nav-width;
  z-index: 3;
  background: $sub-nav-bg;
  margin-left: -$standard-space;
  margin-right: $standard-space;

  nav {
    color: $sub-nav-text;

    hr {
      border: 1px solid rgba(0, 0, 0, 0.1);
    }
  }
}
