@import '../../base/palette';
@import '../../base/spacing';

.primary-container,
.secondary-container,
.error-container,
.warning-container {
  background: $primary-card-bg;
  border: $primary-bg 1px solid;
  &.tertiary {
    margin-left: $standard-space;
  }
}

.primary-container,
.error-container,
.warning-container {
  max-width: 1250px;
  margin-top: $standard-space;
  border-radius: 5px;
  .container-heading {
    padding: 0 $standard-space;
  }
  .container-content {
    padding: $standard-space;
  }
}

.error-container {
  background: $light-red;
  .container-heading,
  .container-content {
    color: $dark-red;
  }
}

.warning-container {
  background: $light-yellow;
  .container-heading,
  .container-content {
    color: $dark-yellow;
  }
}

.primary-container {
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.15);

  &.interrupt {
    background: $interrupt-bg;
    color: $white;
  }
}

.secondary-container {
  padding: 0 $standard-space;
  border: rgba(0, 0, 0, 0.15) 1px solid;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.15);
}

.tertiary-container {
  margin-top: $standard-space;
  border-radius: 5px;
  padding: $standard-space;
  background: $tertiary-card-bg;
  margin-left: $standard-space;

  &.nested {
    border-radius: 0;
    margin: 0;
    min-height: 100px;
    background: $app-bg;
  }

  .secondary-container {
    background: $primary-bg;
  }
}
