*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  background: $nav-bg;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: white;
  color: $body-text;
  font-weight: 200;

  @include ie() {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
}

main {
  padding: 0 15px;
}
