$nav-bg: #4e585c;
$sub-nav-bg: #e9edee;
$sub-nav-active-bar: #4a90e2;
$sub-nav-text: #4a4a4a;

$panel-header: #eaeaea;
$body-text: #4a4a4a;
$panel-sidebar: #f9f9f9;

$input-border: #4e585c;

$button: #c7c7c7;
$button-color-primary: #00823b;
$button-color-green: #b8e986;

$button-inline-primary: #00823b;
$button-inline-secondary: #636363;
$button-inline-standard: #c7c7c7;
$button-inline-warn: #b10e1e;

$form-hint: #9b9b9b;
$form-placeholder: #9b9b9b;

$photo-holder: #c7c7c7;

$link-blue: #4a90e2;

$phase-banner: #4a90e2;
$phase-banner-prototype: #b10b01;

$highlight: #fff2d3;

$risk-green: #006435;
$risk-yellow: #ffbf47;
$risk-red: #b10e1e;
