@import 'palette';
@import 'spacing';

.primary-container,
.secondary-container {
  background: $primary-card-bg;
  border: $primary-borders 1px solid;
}

.primary-container {
  .container-heading,
  .container-content {
    padding: 0 $standard-space;
  }

  .container-heading {
    border-bottom: $primary-borders 1px solid;
  }
}

.secondary-container {
  padding: 0 $standard-space;
}
