@import 'palette';
@import 'spacing';

.primary-container,
.secondary-container {
  background: $primary-card-bg;
  border: $primary-bg 1px solid;
}

.primary-container {
  border-radius: 5px;
  .container-heading {
    border-bottom: $primary-bg 2px solid;
    padding: 0 $standard-space;
  }
  .container-content {
    padding: $standard-space;
  }
}

.secondary-container {
  padding: 0 $standard-space;
}

.tertiary-container {
  background: $app-bg;
}
