@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
}

input[type='text'] {
  min-width: 50%;
  border: 1px solid $input-border;
  font-size: 16px;
  padding: 10px;

  @include placeholder {
    color: $form-placeholder;
    font-weight: 200;
  }

  @include breakpoint(tablet) {
    width: calc(100% - 25px);
  }
}

textarea {
  min-width: 50%;
  border: 1px solid $input-border;
  font-size: 16px;
  padding: 10px;
  resize: none;
  word-wrap: break-word;
  min-height: 100px;

  @include breakpoint(tablet) {
    width: calc(100% - 25px);
  }
}

button {
  border: 0;
  border-radius: 0;
  background: $button;
  padding: 10px 15px;
  font-size: 20px;
  font-weight: 200;
  cursor: pointer;

  &.primary {
    background: $button-color-primary;
    color: white;
  }

  &.green {
    background: $button-color-green;
    color: white;
  }

  &.small {
    padding: 5px 10px;
    font-size: 18px;
  }

  &.tiny {
    padding: 5px 10px;
    font-size: 14px;
  }

  &.input-bumper {
    position: relative;
    bottom: -1px;
    width: 40px;
    height: 40px;
    border-left: 0;
    color: white;
    background: $input-border;
    padding: 0;
  }
}

.form-group {
  margin-bottom: 30px;
}

.form-control {
  display: block;
  margin-top: 10px;

  &.inline {
    display: inline-block;
  }

  &.center {
    margin: 10px auto;
    text-align: left;
  }
}

.form-hint {
  margin: 5px 0 0 0;
  font-size: 14px;
  color: $form-hint;
}
