@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
}

textarea {
  font-family: inherit;
  @include ie() {
    overflow: auto;
  }
}

input[type='text'] {
  min-width: 50%;
  border: 1px solid $input-border;
  font-size: 16px;
  padding: 10px;

  &.read-only {
    border: 0;
    padding: 10px 0;
  }

  @include placeholder {
    color: $form-placeholder;
    font-weight: 200;
  }

  @include breakpoint(tablet) {
    width: calc(100% - 25px);

    &.inline {
      width: calc(100% - 45px);
    }
  }
}

input[type='checkbox'],
input[type='radio'] {
  @include safe-hide();

  + label {
    display: inline-block;
    position: relative;
    padding-left: 45px;
    cursor: pointer;

    &:before,
    &:after {
      content: '';
      border: 2px solid;
      background: transparent;
      width: 34px;
      height: 34px;
      position: absolute;
      top: -9px;
      left: 0;
    }
  }
}

input[type='radio'] {
  + label {
    &:before,
    &:after {
      border-radius: 50%;
    }
    &:after {
      background: black;
      opacity: 0;
    }
  }

  &:checked + label {
    &:after {
      opacity: 1;
    }
  }
}

input[type='checkbox'] {
  + label {
    &:after {
      border-width: 0 0 5px 5px;
      width: 20px;
      height: 10px;
      top: 2px;
      left: 8px;
      transform: rotate(-45deg);
      opacity: 0;
    }
  }

  &:checked + label {
    &:after {
      opacity: 1;
    }
  }
}

textarea {
  min-width: 50%;
  border: 1px solid $input-border;
  font-size: 16px;
  padding: 10px;
  resize: none;
  word-wrap: break-word;
  min-height: 100px;

  &.no-border {
    padding: 10px 0;
    border: 0;
  }

  @include breakpoint(tablet) {
    width: calc(100% - 25px);
  }
}

fieldset {
  border: 0;
  padding: 0;

  legend {
    margin-bottom: 25px;
  }
}

.form-group {
  margin-bottom: 30px;
}

.form-control {
  display: block;
  margin-top: 10px;

  &.inline {
    display: inline-block;
  }

  &.center {
    margin: 10px auto;
    text-align: left;
  }
}

.form-hint {
  margin: 5px 0 0 0;
  font-size: 14px;
  color: $form-hint;
}
