@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
}

textarea {
  font-family: inherit;
  @include ie() {
    overflow: auto;
  }
}

input[type='text'] {
  min-width: 50%;
  border: 1px solid $input-border;
  font-size: 16px;
  padding: 10px;

  &.read-only {
    border: 0;
    padding: 10px 0;
  }

  @include placeholder {
    color: $form-placeholder;
    font-weight: 200;
  }

  @include breakpoint(tablet) {
    width: calc(100% - 25px);
  }
}

input[type='checkbox'] {
  position: absolute;
  z-index: -1000;
  left: -1000px;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;

  &:checked + label::after {
    opacity: 1;
  }

  + label {
    position: relative;
    padding-left: 45px;
    cursor: pointer;

    &::before {
      content: '';
      border: 2px solid;
      background: transparent;
      width: 34px;
      height: 34px;
      position: absolute;
      top: -9px;
      left: 0;
    }

    &::after {
      content: '';
      border: solid;
      border-width: 0 0 5px 5px;
      background: transparent;
      width: 17px;
      height: 7px;
      position: absolute;
      top: 5px;
      left: 8px;
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
      opacity: 0;
    }
  }
}

textarea {
  min-width: 50%;
  border: 1px solid $input-border;
  font-size: 16px;
  padding: 10px;
  resize: none;
  word-wrap: break-word;
  min-height: 100px;

  &.no-border {
    padding: 10px 0;
    border: 0;
  }

  @include breakpoint(tablet) {
    width: calc(100% - 25px);
  }
}

fieldset {
  border: 0;
  padding: 0;

  legend {
    margin-bottom: 25px;
  }
}

button {
  border: 0;
  border-radius: 0;
  background: $button;
  padding: 10px 15px;
  font-size: 18px;
  font-weight: 200;
  cursor: pointer;
  color: white;

  @include breakpoint(mobile) {
    font-size: 12px;
  }

  &.primary {
    background: $button-color-primary;
  }

  &.inline-primary {
    background: $button-inline-primary;
  }

  &.inline-secondary {
    background: $button-inline-secondary;
  }

  &.inline-warn {
    background: $risk-red;
  }

  &.small {
    padding: 5px 10px;
    font-size: 18px;
  }

  &.tiny {
    padding: 5px 10px;
    font-size: 14px;
  }

  &.overflow {
    position: relative;
    bottom: -15px;
    margin: -20px auto;
  }

  &.input-bumper {
    width: 40px;
    height: 40px;
    color: white;
    background: $input-border;
    padding: 0;
    margin: 0;
  }
}

.form-group {
  margin-bottom: 30px;
}

.form-control {
  display: block;
  margin-top: 10px;

  &.inline {
    display: inline-block;
  }

  &.center {
    margin: 10px auto;
    text-align: left;
  }
}

.form-hint {
  margin: 5px 0 0 0;
  font-size: 14px;
  color: $form-hint;
}
