@import 'spacing';
@import 'palette';

.grid-row {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  flex-wrap: wrap;
  max-width: 1750px;

  &.nested {
    min-height: 0;

    .grid-col {
      max-width: 400px;
      min-width: 230px;
      margin-right: $standard-space;

      &:last-child {
        margin-right: 0;
      }
    }

    &.dashed {
      .grid-col {
        border-right: $app-bg 2px dotted;

        &:last-child {
          border-right: none;
        }
      }
    }
  }
}

.grid-col {
  flex: 1;

  &.side {
    flex: 0.00001;
    animation: flexSidebar 500ms ease-out forwards;
    background: $panel-sidebar;
    padding: 15px;

    @include ie() {
      flex: 0 0 450px;
    }
  }
}

@keyframes flexSidebar {
  to {
    flex: 0 0 450px;
  }
}
