.grid-row {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  flex-wrap: wrap;
  max-width: 1450px;

  &.nested {
    min-height: 0;

    .grid-col {
      max-width: 400px;
      min-width: 200px;
    }
  }
}

.grid-col {
  flex: 1;
}
