@import 'base/spacing';

table {
  border-spacing: 0;

  &.full-width {
    width: 100%;
  }

  &.border-bottom {
    thead {
      td {
        border-bottom: 3px solid $primary-borders;
      }
    }

    td {
      vertical-align: middle;
      height: 40px;
    }

    tr:not(:last-of-type) {
      td {
        border-bottom: 1px solid $primary-borders;
      }
    }
  }
}

td {
  vertical-align: top;

  &.third-width {
    width: 33%;
  }

  &.half-width {
    width: 50%;
  }

  &.middle {
    vertical-align: middle;
  }
}

.space-top {
  margin-top: $standard-space;
}

.padding {
  padding: $standard-space;
}

.padding-left {
  padding-left: $standard-space;

  &.half {
    padding-left: $half-space;
  }
}

.padding-right {
  padding-right: $standard-space;

  &.half {
    padding-right: $half-space;
  }
}

.center {
  text-align: center;
}

.omit-mobile {
  @include breakpoint(mobile) {
    display: none;
  }
}

.omit-desktop {
  display: none;
  @include breakpoint(tablet) {
    display: inline-block !important;
  }
}

.omit-tablet {
  @include breakpoint(tablet) {
    display: none;
  }
}

.pad-right {
  padding-right: $half-space;
}

.margin-top {
  margin-top: $standard-space;

  &.large {
    margin-top: 20px;
  }

  &.small {
    margin-top: 10px;
  }
}

.margin-bottom {
  margin-bottom: $standard-space;
}

.no-margin-top {
  margin-top: 0;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.clickable {
  cursor: pointer;
}

.expand-content {
  &:before {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 0 5px 8.7px;
    border-color: transparent transparent transparent $link-blue;
    margin-right: 10px;
  }

  &.active {
    &:before {
      border-width: 8.7px 5px 0 5px;
      border-color: $link-blue transparent transparent transparent;
    }
  }
}

.align-right {
  text-align: right;
}

.js-hidden {
  display: none;
}
