$app-header: #000000;
$app-search: #344780;
$app-bg: #f9f9f9;
$app-navigation: #e4e2e2;
$app-navigation-content: #626475;

$primary-content: #10132e;
$primary-labels: #626475;
$primary-borders: #cacdd6;
$primary-bg: #f2f3f4;
$primary-card-bg: #ffffff;
$primary-interactive: #295ed9;
$primary-interactive-hover: #f3f6fc;
$primary-interactive-selected: #eaeffa;

$tertiary-card-bg: #e4e2e2;

$white: #ffffff;
$black: #000000;

$dark-red: #a6020d;
$red: #d91c29;
$light-red: #ffd9db;

$dark-orange: #c44500;
$orange: #fd6000;
$light-orange: #ffe0cc;

$dark-yellow: #cc8914;
$yellow: #feb53a;
$light-yellow: #ffeccc;

$dark-olive: #7f9f00;
$olive: #a9d400;
$light-olive: #eef2da;

$dark-green: #006624;
$green: #20aa50;
$light-green: #daf2e3;

$dark-teal: #00647d;
$teal: #179595;
$light-teal: #c3e6e6;

$dark-blue: #113da6;
$blue: #295ed9;
$light-blue: #e6edff;

$dark-purple: #202a79;
$purple: #2b38a1;
$light-purple: #d9ddff;

$dark-magenta: #a9085b;
$magenta: #e10b81;
$light-magenta: #ffd9ee;

$dark-grey: #3a3c4d;
$grey: #585b73;
$light-grey: #cfd1e6;
