$body-size: 18;
$body-size-mobile: 16;

body {
  font-size: $body-size + px;
  font-weight: 400;
  line-height: 1.4;

  @include breakpoint(mobile) {
    font-size: $body-size-mobile + px;
  }
}

a {
  &.active-link,
  &.error-link {
    cursor: pointer;
    font-weight: 400;
    color: $primary-interactive;
    text-decoration: underline;
  }
  &.error-link {
    color: $dark-red;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1;
}

h1 {
  font-size: ($body-size + 4) + px;
  font-weight: 700;
  margin: $standard-space 0;

  @include breakpoint(mobile) {
    font-size: ($body-size-mobile + 2) + px;
  }
}

h2,
h3 {
  font-size: ($body-size + 1) + px;
  font-weight: 600;
  margin: $standard-space 0;

  @include breakpoint(mobile) {
    font-size: ($body-size-mobile + 1) + px;
  }
}

h4 {
  font-size: $body-size + px;
  font-weight: 600;
  text-transform: uppercase;

  @include breakpoint(mobile) {
    font-size: $body-size-mobile + px;
  }
}

h5,
h6 {
  font-size: $body-size + px;
  font-weight: 700;

  @include breakpoint(mobile) {
    font-size: $body-size-mobile + px;
  }
}

hr {
  border: 1px solid $primary-borders;
  margin: 0;
}

mark {
  background-color: $light-yellow;
}

.white {
  color: $white;
}

.text-light {
  font-weight: 200;
}

.text-small {
  font-size: ($body-size - 2) + px;

  @include breakpoint(mobile) {
    font-size: ($body-size-mobile - 2) + px;
  }
}

.text-large {
  font-size: ($body-size + 3) + px;

  @include breakpoint(mobile) {
    font-size: ($body-size-mobile + 2) + px;
  }
}

.text-x-large {
  font-size: ($body-size + 5) + px;

  @include breakpoint(mobile) {
    font-size: ($body-size-mobile + 3) + px;
  }
}

.text-xx-large {
  font-size: ($body-size + 10) + px;

  @include breakpoint(mobile) {
    font-size: ($body-size-mobile + 5) + px;
  }
}

.text-bold {
  font-family: $nta-bold;
}

.text-tabular {
  font-family: $nta-light-tabular;
}

.text-tabular-bold {
  font-family: $nta-bold-tabular;
}

.text-grey {
  color: $primary-borders;
}

.text-fade {
  color: rgba(0, 0, 0, 0.1);
}

.text-error {
  color: $red;
}
